body {
  margin: 0;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  width: 100%;
}

.login-details {
  flex: 1;
  padding: 20px;
}


.green-background {
  flex: 1;
  background-color: #0f470f;
  position: relative;
}

.green-background-text {
  padding: 15%;
}

.green-background h1 {
  color: #fff;
  font-size: 70px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: relative;
  z-index: 2;
}

.thin-text {
  font-weight: 100;
}

.green-background p {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: -30px;
}

.bubble1 {
  position: absolute;
  top: 30%;
  right: 0%;
  width: 150px;
}

.bubble2 {
  position: absolute;
  top: 0;
  left: 20%;
  width: 350px;
  z-index: 1;
}

.bg {
  width: 600px;
}

.bg-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}

.form-contain {
  width: 60%;
  flex-direction: column;
  display: flex;
  margin: auto;
  margin-top: 130px;
}

.form-contain h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.form-contain p {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -10px;
  font-weight: 400;
  font-size: 14px;
}

.form-contain input {
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  background-color: transparent;
  outline: none; 
}

.form-contain a {
  text-decoration: none;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 25px;
  font-weight: 400;
}

.login-button {
  width: 100%;
  border: none;
  background-color: #0f470f;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  margin-top: 10px;
}

.login-button a{
  color: white;
}

.signup-button {
  padding: 10px;
  background-color: #0f470f;
  border: none;
  border-radius: 10px;
  width: 30%;
}

.signup-button a {
  color: #fff;
}

.accRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
}

.accRow h2 {
  font-size: 17px;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .green-background {
    display: none;
  }

  .login-details {
    flex: none;
  }

  .container {
    flex-direction: column;
  }

  .form-contain {
    width: 100%;
  }
}
